<div class="stylish">
  <div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Leave Feedback</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Your opinion matters.</h3>
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          </div>
          <div class="modal-body">
            Did you like this challenge? Please leave any feedback in the area below!<br><br>
            <textarea placeholder="Type yout message..."></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn1" id="later" data-dismiss="modal">Do it later</button>
            <button type="button" class="btn btn-default btn2" id="submit" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
