<nav class="nav-paths-list">
  <button type="button" class="btn" [ngClass]="{'active': currentPath == 'American'}">American</button>
  <button type="button" class="btn" [ngClass]="{'active': currentPath == 'Korean'}">Korean</button>
  <button type="button" class="btn" [ngClass]="{'active': currentPath == 'Italian'}">Italian</button>
  <button type="button" class="btn" [ngClass]="{'active': currentPath == 'Mexican'}">Mexican</button>
  <button type="button" class="btn" [ngClass]="{'active': currentPath == 'Japanese'}">Japanese</button>
</nav>  

<!-- <section class="styleSelect">
<select class="selectpicker">
  <option value="" selected>American</option>
  <option value="">Korean</option>
  <option value="">Italian</option>
  <option value="">Mexican</option>
  <option value="">Japanese</option>
</select>
</section> -->

<div class="dropdown">
  <button class="btn2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ currentPath }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#" [ngClass]="{'orange': currentPath == 'American'}">American</a>
    <a class="dropdown-item" href="#" [ngClass]="{'orange': currentPath == 'Korean'}">Korean</a>
    <a class="dropdown-item" href="#" [ngClass]="{'orange': currentPath == 'Italian'}">Italian</a>
    <a class="dropdown-item" href="#" [ngClass]="{'orange': currentPath == 'Mexican'}">Mexican</a>
    <a class="dropdown-item" href="#" [ngClass]="{'orange': currentPath == 'Japanese'}">Japanese</a>
  </div>
</div>