
<head>

</head>


<body>
  <h1>Progress circle</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-sm-6 col-lg-3">
                <div class="progress red">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"></div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-lg-4">
              <h2>Food Type </h2>
              <p> Porcentaje </p>
            </div>
              <div class="col-xs-12 col-sm-12 col-lg-5">
                <h2>Botones</h2>
                  <div class="row"> 
                    <div class="col-xs-6 col-sm-6 col-lg-12">
                        <button class="block btnDuration">Duration: 3 weeks</button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-12">
                        <button class="block btnGS">Continue</button>
                    </div>
                  </div>
              </div> 
        </div>
    </div>

</body>
