.btnDuration {
    display: block;
    height: 50px;
    width: 150px;
    //margin: 0 auto;
    background-color: rgb(199, 194, 194);
    color: rgb(15, 10, 10);
    border: none;
    cursor: pointer;
    float: right;
  }
  .btnDuration:hover {
    opacity: 0.6;
    background: rgb(233, 222, 220);
  }
  .btnDuration:active {
    background-color: rgb(173, 171, 170);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }


.btnGS {
    display: block;
    height: 50px;
    width: 150px;
    //margin: 0 auto;
    background-color: rgb(254, 82, 64);
    color: white;
    border: none;
    cursor: pointer;
    float: right;
  }
  .btnGS:hover {
    opacity: 0.6;
    background: rgb(254, 82, 64);
  }
  .btnGS:active {
    background-color: rgb(255, 89, 71);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

.row::after {
    content: "";
    clear: both;
    // height: 100%;
    display: block;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}


// For desktop:
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;
  align-items: center;
}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  //For mobile phones:
  [class*="col-"] {
      width: 100%;
  }

  .bodyNavPro {
    margin-top: -10px !important;
  }

  .smallSide {
    margin-left: 200px;
    margin-top: -80px;
  }

  .smalSide {
    margin-left: 128px;
    margin-top: -178px;
    width: 60%;
  }

  .btnGS {
    width: 116%;
    margin-left: -24px;
  }

  .btnDuration {
    width: 50%;
    float: left;
  }
}



.item {
	margin-bottom: 20px;
	position: relative;
	width: 114px;
	height: 114px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #FFF;
    float: left;
    margin-right: 20px;
}

.radial-inner-bg {
	border-radius: 50%;
	width: 98px;
	height: 98px;
	top: 8px;
	left: 8px;
	//background: rgb(71, 2, 2);
    position: absolute;
}

$step: 1; // step of % for created classes
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < 50 {
		$nextdeg: 90deg + ( $increment * $i );
    background-image: linear-gradient(90deg, #cb3729 50%, transparent 50%, transparent),
    linear-gradient($nextdeg, #fe5140 50%, #cb3729 50%, #cb3729);
    }
    @else {
		$nextdeg: -90deg + ( $increment * ( $i - $half ) );
    background-image: linear-gradient($nextdeg, #fe5140 50%, transparent 50%, transparent),
    linear-gradient(270deg, #fe5140 50%, #cb3729 50%, #cb3729);
    }
}
}

h1 {
    display: inline;
}

.percentage {
    color: grey;
}

.food {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  margin-top: 32px;
}
