<div class="section">
  <div class="row">
    <div class="col-12">
      <h1>Welcome!</h1> <br>
      <h2>Choose a track to get started.</h2>
    </div>
  </div>
</div>

  <!-- <br><br><br><br><br><br><br><br><br><br><br><br> -->
  <div class="section2">
    <div class="row">
      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="img-overlay-wrap backColor">
              <!-- <a class="imgLink" > -->
                  <img class="card-img-top" (click)='foods(0)' [routerLink]="['/journeys']" src="../../assets/american_wIcon.png" alt="American">
                  <div id= "pAm" class="progress">
                    <div id="pbAm" class="progress-bar"></div>
                  </div>
                  <!-- <p class="textType">American</p> -->
              <!-- </a> -->

          <!-- <svg viewBox="0 0 200 200">
              <rect width="60" height="110" class="challenge-progress" />
              <text x="85" y="90" class="challenge-progress-text">0%</text>
            </svg> -->
          </div>
          <div class="card-body">
            <p class="card-text challenge-caption-text">One characteristic of American cookingis the fusion of
              multiple ethnic or regional approaches into completely new cooking styles.</p>
            <p class="duration">
              <strong>Duration: 3 weeks</strong>
            </p>
          </div>
        </div>
      </div>



      <div class="col-lg-3 col-sm-6 portfolio-item">
          <div class="card h-100">
            <div class="img-overlay-wrap backColor">
                <!-- <a class="imgLink" (click)='foods()' [routerLink]="['/journeys']"> -->
              <img class="card-img-top" (click)='foods(1)' [routerLink]="['/journeys']" src="../../assets/korean_wIcon.png" alt="Korean">
              <div id= "pKo" class="progress">
                <div id="pbKo" class="progress-bar"></div>
              </div>   
              <!-- <p class="textType">Japanese</p> -->
                <!-- </a> -->

              <!-- <svg viewBox="0 0 200 200">
                <rect width="60" height="110" class="challenge-progress" />
                <text x="85" y="90" class="challenge-progress-text">20%</text>
              </svg> -->
            </div>
            <div class="card-body">
              <p class="card-text challenge-caption-text">Traditional Korean meals are noted for the number of
                side dishes (banchan) that accompany steam-cooked short-grain rice.</p>
              <p class="duration">
                <strong>Duration: 3 weeks</strong>
              </p>
            </div>
          </div>
        </div>




      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="img-overlay-wrap backColor">
              <!-- <a class="imgLink" (click)='foods()' [routerLink]="['/journeys']">         -->
                <img class="card-img-top" (click)='foods(2)' [routerLink]="['/journeys']" src="../../assets/italian_wIcon.png" alt="Italian">
                <div id= "pIt" class="progress">
                  <div id="pbIt" class="progress-bar"></div>
                </div>  
                <!-- <p class="textType1">Italian</p>
              </a> -->

            <!-- <svg viewBox="0 0 200 200">
              <rect width="60" height="110" class="challenge-progress" />
              <text x="85" y="90" class="challenge-progress-text">20%</text>
            </svg> -->
          </div>
          <div class="card-body">
            <p class="card-text challenge-caption-text">An Italian meal is famous for its structure into several
              sections: the appetiser, pasta or nice dish, a meat course and dolce dessert.</p>
            <p class="duration">
              <strong>Duration: 1 week</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="img-overlay-wrap backColor">
              <!-- <a class="imgLink" (click)='foods()' [routerLink]="['/journeys']"> -->
                <img class="card-img-top" (click)='foods(3)' [routerLink]="['/journeys']" src="../../assets/mexican_wIcon.png" alt="Mexican">
                <div id= "pMx" class="progress">
                  <div id="pbMx" class="progress-bar"></div>
                </div>  
                <!-- <p class="textType">Mexican</p>
              </a> -->

            <!-- <svg viewBox="0 0 200 200">
              <rect width="60" height="110" class="challenge-progress" />
              <text x="85" y="90" class="challenge-progress-text">20%</text>
            </svg> -->
          </div>
          <div class="card-body">
            <p class="card-text challenge-caption-text">Know for ts varied flavours and spices, the food of Mexico
              is a result of the Spanish conquistadores interaction with the Aztec culture.</p>
            <p class="duration">
              <strong>Duration: 2 weeks</strong>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="img-overlay-wrap backColor">
              <!-- <a class="imgLink" (click)='foods()' [routerLink]="['/journeys']"> -->
            <img class="card-img-top" (click)='foods(4)' [routerLink]="['/journeys']" src="../../assets/japanese_wIcon.png" alt="Japanese">
            <div id= "pJp" class="progress">
              <div id="pbJp" class="progress-bar"></div>
            </div>    
            <!-- <p class="textType">Japanese</p> -->
              <!-- </a> -->

            <!-- <svg viewBox="0 0 200 200">
              <rect width="60" height="110" class="challenge-progress" />
              <text x="85" y="90" class="challenge-progress-text">20%</text>
            </svg> -->
          </div>
          <div class="card-body">
            <p class="card-text challenge-caption-text">In 2014, 14 restaurants in Tokyo and Shonan maintain a
              Michelin three-stars rating, the ultimate international recognition in the culinary world.</p>
            <p class="duration">
              <strong>Duration: 3 weeks</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

