.item {
	margin-bottom: 20px;
	position: relative;
	width: 114px;
	height: 114px;
	border-radius: 50%;
	border: 1px solid #fff;
	background-color: #FFF;
    float: left;
    margin-right: 20px;
}

.radial-inner-bg {
	border-radius: 50%;
	width: 98px;
	height: 98px; 
	top: 8px;
	left: 8px;
	//background: rgb(71, 2, 2);
  position: absolute;
}

$step: 1; // step of % for created classes
$loops: 100;
$increment: (360 / $loops);
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i*$step} {
    @if $i < 50 {
		$nextdeg: 90deg + ( $increment * $i );
    background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent), 
    linear-gradient($nextdeg, rgb(229, 65, 65) 50%, #fff 50%, #fff);
    }
    @else {
		$nextdeg: -90deg + ( $increment * ( $i - $half ) );
    background-image: linear-gradient($nextdeg, rgb(229, 65, 65) 50%, transparent 50%, transparent), 
    linear-gradient(270deg, rgb(229, 65, 65) 50%, #fff 50%, #fff);
    }
  }
}