<body>
  <div class="container">
    <div class="panel-group" id="accordion">
      <div *ngFor="let Category of Categories; let i=index;">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}">
                    <span class="step">{{i+1}}</span> <strong class="titleCat">{{Category}}</strong></a>
              </h4>
            </div>
            <div id="collapse{{i}}" class="panel-collapse collapse">
              <app-restaurants [Path]="idJourney" [Op]="i"></app-restaurants>
            </div>
          </div>
      </div>
    </div>
  </div>
</body>
<agm-map [latitude]="25.6706772" [longitude]="-100.37717409999999" [zoom]=15>
    <agm-marker [latitude]="25.6706772" [longitude]="-100.37717409999999" ></agm-marker>
</agm-map>


