.row{
  // margin-bottom: 50px;
  // margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  position: absolute;
  width: 100%;
  left: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Body */
.journeys {
  margin-left: 42px;
  margin-top: 20px;
  z-index: 200;
  display: flex;
}

.goBack {
  position: absolute;
}

.goB {
  width: 100px;
  margin-left: 98px;
  margin-top: -24px;
}

.types {
  color: rgb(254, 82, 64);
}

/* Card */
.card {
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 65px;
}

.card-title {
  font-size: 2rem;
}

.infoo {
  margin-left: 82px;
  margin-top: 0;
  width: 22rem !important;
  margin-left: 0;
  height: 190px;
}

.titlee {
  // text-align: center;
  margin-top: -25px;
  margin-left: 68px;
  font-size: 2.5rem;
}

.sideText {
  width: 138px;
  margin-top: -24px;
  margin-left: 27px;
}

.sideText1{
  width: 138px;
  margin-top: -24px;
  margin-left: 27px;
}

.imgFood {
  float: left;
}

.imgMap {
  float: right;
}

.number {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}

#colored {
  color: rgb(47, 228, 47);
  margin-bottom: 0px;
}

.phoneImg, .emailImg {
  width: 24px;
  height: 20px;
}

.list-group-item {
  background-color: #ebebeb;
}

.resend {
  margin-top: 0px;
  width: 22rem !important;
  background-color: #ebebeb;
  text-align: center;
  height: 70px;
  padding-top: 13px;
  margin-left: 0px;
}

.resendN {
  margin-top: 4px
}

.notif {
  margin-top: 9px;
}

.hours {
  padding-top: 20px;
  padding-bottom: 20px;
}

.information {
  padding-top: 20px;
  padding-bottom: 11px;
}


.btn-ch {
    background: #f44336;
    border: none;
    color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right:5px;
    width: 100%;
}

.btn-st {
  background: #2db2ff;
  border: none;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right:5px;
  width: 100%;
}

.btn-wt {
  background: #a1a1a1;
  border: none;
  color: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right:5px;
  width: 100%;

}


.btn-pv {
  background: #3f3f3f;
  border: 1px solid #3f3f3f;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
 // padding-left: 30px;
 // padding-right:30px;
  padding-left: 5px;
  padding-right:5px;
  width: 45%;
  margin-left: 5%;
}


.btn-nx {
  background: #2db2ff;
  border: 1px solid #2db2ff;
  color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
 // padding-left: 30px;
 // padding-right:30px;
  padding-left: 5px;
  padding-right:5px;
  width: 45%;
  margin-right: 5%;
  float:right;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .smSide {
    margin-top: -173px;
  }

  .infoo {
    margin-right: 0px;
    height: 143px !important;
    width: 18rem !important;
  }

  .hours, .information {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .resend {
    margin-left: 192px !important;
    width: 16rem !important;
    margin-right: 0px;
    height: 143px !important;
  }

  .notif {
    margin-top: 33px !important;
  }

  .start {
    //display: grid;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0px !important;
    margin-right:0px !important;
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }

  .previous{
    display: none;
  }

  .next{
    display: none;
  }

  .check{
    margin-left: 233px;
  }

}

@media only screen and (min-width: 425px){
  [class*="col-"] {
    width: 100%;
  }

  .next{
    display:block;
    margin-top: -170px;

  }
  .previous{
    display:block;
  }
}

@media only screen and (min-width: 1024px){
  [class*="col-"] {
    width: 100%;
  }

  .next{
    display:block;
    margin-top: 0;
  }

  .previous{
    display:block;
  }
}

.btn-nx:disabled {
  background-color: #eee;
  color: rgb(202, 202, 202);
  border: 1px solid rgb(202, 202, 202);
  opacity: 80%;
}

.check{
  margin-top: -40px;
  margin-left: 4px;
  height: 28px;
}

@media only screen and (max-width: 425px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    margin-left: 60px;
  }
}

@media only screen and (max-width: 375px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    margin-left: 37px;
  }
}

@media only screen and (max-width: 320px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    margin-left: 9px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    margin-left: 233px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    //margin-left: 255px;
    margin-left: 72px;
  }
}

@media only screen and (min-width: 2560px){
  [class*="col-"] {
      width: 100%;
  }
  .check{
    margin-left: 255px;
  }
}
