<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->
  <!-- <img id="logo" alt="Foodie Journal" src="../assets/logo.png"> -->
  <p id="logo">FoodieJournal</p>
  <a id="btnLog" >Login</a>
</div>

<div class="section">
  <div class="row">
    <div class="col-12 menu">
      <h1 id="title">Challenge Yourself</h1> <br>
      <p id="subtitle">Foodie Journal makes it easy for you to embark on a journy to discover new cousines.</p><br>
      <button id="btnGS" class="block">Get Started</button>
    </div>
  </div>
  <div id="discover">Discover More</div>
</div>

<!-- <router-outlet></router-outlet> -->
