<h2 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h2>
<h1 *ngIf="!authService.user | async">Welcome. Please Input your credentials.</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="name" placeholder="name">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup    
  </button>

  <button (click)="login()" [disabled]="!email || !password" >
    Login
  </button>

</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>